* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

body {
    height: 100%;
    overflow-x: hidden;
    max-width: 100vw;
    color: #000000;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    padding: 10px 0px;
    height: 30%;
    background: #e5e5e5;
    border-radius: 8px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

input {
    font-family: 'Pretendard-Regular';
    color: #000000;
}

input:disabled {
    background: #d9d9d9;
    color: #b8b8b8;
}

::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('./assets/fonts/PRETENDARD-REGULAR.OTF');
}

@font-face {
    font-family: 'Pretendard-Semibold';
    src: url('./assets/fonts/PRETENDARD-SEMIBOLD.OTF');
}
